params {
    seg_only = false
    acq3T = true
    run_fastsurfer = true
}

process {
    withName: "FASTSURFER"{
        cpus = 8
        memory = { task.attempt * 25.GB }
        time = { task.attempt * 3.h }
        ext.acq3T = params.acq3T
        ext.seg_only = params.seg_only
        ext.when = params.run_fastsurfer
        maxForks = 2
    }
}